<h2>Bekérés</h2>

<form action="result.php" id="inputForm" method="get">
    <div>
        <label for="" class="form-label">A oldal</label>
        <input type="text" id="aSide" name="aSide" class="form-control">
    </div>
    <div>
        <label for="" class="form-label">B oldal</label>
        <input type="text" id="bSide" name="bSide" class="form-control">
    </div>
    <div>
        <label for="" class="form-label">C oldal</label>
        <input type="text" id="cSide" name="cSide" class="form-control">
    </div>
    <div>
        <label for="" class="form-label">D oldal</label>
        <input type="text" id="dSide" name="dSide" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary mt-3">Számol</button>

</form>